<div id="carousel{{ article.id }}Controls" class="carousel slide h-100" data-bs-ride="carousel">
  <div class="carousel-inner h-100">
    {% for image in article.images %}
      <div class="carousel-item h-100 {% if forloop.first %}active{% endif %}">
        <img src="{{ image.src }}" class="d-block w-100" alt="{{ image.alt }}">
      </div>
    {% endfor %}
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carousel{{ article.id }}Controls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carousel{{ article.id }}Controls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
